<ion-header>
  <ion-navbar color="danger" hideBackButton>
    <ion-buttons>
      <button ion-button icon-only style="float:right" (click)="clickForAll()" *ngIf="allClick != true">
        <ion-icon  ios="ios-list" md="md-list"></ion-icon>
      </button>
      <div *ngIf="allClick == true">
        <div ion-button icon-only style="float:right" (click)="clickForSearch()">
          <ion-icon name="search" *ngIf="searchKey === false"></ion-icon>
        </div>
        <div style="width: 100%;">
        <ion-searchbar style="width:80%;margin-left: 20%;padding-top: 5px;" *ngIf="searchKey === true" backgriund-color="danger" (ionInput)="getAllItems($event)" >
        </ion-searchbar>
        <button  style="margin-top: -70px;margin-left: 12%;" ion-button icon-only  *ngIf="searchKey === true" (click)="clickForCard()">
          <ion-icon  name="md-apps"></ion-icon>
        </button>
        </div>
        <button ion-button icon-only  *ngIf="searchKey === false" style="float:right" (click)="clickForCard()">
          <ion-icon  name="md-apps"></ion-icon>
        </button>
      </div>
    </ion-buttons>
    <ion-title *ngIf="searchKey === false || isClicked === true">
      Irish Calling
    </ion-title>
  </ion-navbar>
</ion-header>

<!--page body-->

<ion-content padding>
  <ion-searchbar *ngIf="allClick != true" backgriund-color="danger" (ionInput)="getItems($event)"></ion-searchbar>
  <div *ngIf="allClick == true">
    <ion-list *ngFor="let word of words">
      <ion-card *ngFor="let card of word.card">
        <ion-row>
          <ion-col>
            <h2>{{card.word}}</h2><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            <audio-track  #audio [track]="card" >
              <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>
            </audio-track>
          </ion-col>
            <img src="{{irlFlag}}" style="height: 62%;margin-top: 16px;width:3%">
          <ion-col ion-text color="danger" text-right style="display: inherit">
            <img src="{{card.irish}}" alt=" image teast">
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="allClick != true">
    <ion-card *ngFor="let card of indexWords.card" style="margin-bottom: 30px;min-height:70px">
      <ion-row>
        <ion-col>
          <h2>{{card.word}}<super>{{indexCard}}</super></h2>
          <audio-track  #audio [track]="card" (onFinish)="onTrackFinished($event)">
            <ion-icon class="button-card-icon" name="play" (click) = "playSelectedTrack(card,indexWords.card)" [hidden]="isPlaying"></ion-icon>
            <ion-icon class="button-card-icon" name="pause" (click) = "pauseSelectedTrack()" [hidden]="!isPlaying"></ion-icon>
            <ion-icon class="button-card-icon"   name="square" (click) = "stopSelectedTrack(card, indexWords.card)"></ion-icon>
          </audio-track>
        </ion-col>
        <ion-col  text-right>
          <img src="{{card.irish}}" style="float: right;" [ngStyle]="indexWords.width">
          <img src="{{irlFlag}}" style="float: right;width:30%">
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
<ion-footer *ngIf="allClick != true">
  <ion-toolbar color="danger">
    <ion-buttons>
      <button ion-button large icon-only (click)="cardDec()" [disabled]="!isBackIndex">
        <ion-icon  name="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
      </button>
     <button style="margin-left:25%;color:red">{{indexCard}}</button>
      <button ion-button color="light" outline (click)="doPrompt(cardNum)" style="margin-left:7%">Jump TO</button>
      <button ion-button large icon-only  style="float: right" large (click)="cardIncr()" [disabled]="!isFrontIndex">
        <ion-icon  name="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
